* {
/*	border: 1px solid black;*/
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px;
}

h1 {
	font-size: 24px;
	margin: 0px;
}

h2 {
	font-size: 16px;
}

a {
	color: #e76f51;
	text-decoration: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 150px 1fr;
}

.header {
	grid-column: 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.sidebar {
	grid-column: 1;
	grid-row: 1 / -1;
	background: #264653;
}

.logo {
	display: grid;
	grid-template-columns: 32px 1fr;
	gap: 16px;
	padding: 24px;
	font-size: 24px;
	color: #fff;
}

.menu-1 {
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-rows: repeat(6, 1fr);
	gap: 16px;
	padding: 24px;
	color: #fff;
}

.menu-2 {
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 16px;
	padding: 24px;
	color: #fff;
}

.main {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	background: #e5e7eb;
	padding: 12px;
}

.search-bar {
	display: grid;
	grid-template-columns: 25px 1fr;
	gap: 16px;
	padding: 16px;
}

.search {
	border: none;
	border-radius: 16px;
	background: #eee;
}

.user-info {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 50px 1fr;
	justify-content: end;
	align-items: center;
	padding-left: 24px;
}

.greeting {
	grid-row: 2;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	padding: 0px 0px 16px 16px;
}

.profile-greeting {
	grid-row: 1 / -1;
	align-self: end;
}

.buttons {
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	justify-content: center;
	padding: 24px;
}

button {
	background: #264653;
	border: none;
	border-radius: 16px;
	padding: 8px 16px;
	color: #fff;
	font-size: 14px;
	margin: 0px 8px;
}

.projects-container {
	grid-row: 1 / -1;
	padding: 16px;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 24px;
}

.card {
	background: #fff;
	padding: 16px 16px 0px 16px;
	border-radius: 8px;
	border-left: 8px solid #e76f51;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	display: grid;
	grid-template-rows: 1fr 75px;
}

.card-title,
.item-title {
	font-weight: bolder;
}

.card-icons {
	text-align: right;
	margin-top: 16px;
}

.announcements-container {
	grid-column: 2;
	padding: 16px;
	display: grid;
	align-content: start;
}

.announcements {
	background: #fff;
	padding: 16px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.item {
	padding: 16px;
	font-size: 14px;
}


.bottom-border {
	border-bottom: 1px solid #38302E;
}

.trending-container {
	grid-column: 2;
	grid-row: 2;
	padding: 16px;
}

.trending {
	background: #fff;
	padding: 16px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;

}

.trending-user {
	font-size: 14px;
	justify-self: start;
	margin: 8px;
}

.icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.nav-icon {
	height: 25px;
	padding: 8px;
	margin-right: 16px;
	justify-self: end;
}

.card-icon {
	height: 20px;
	padding: 8px;
}

.profile-picture {
	height: 50px;
	border-radius: 50px;
}